@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.contianer {
  position: relative;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#products {
  width: 70%;
  padding: 100px 20px;
}

#products-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product-item {
  position: relative;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.product-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
  max-width: 100%;
  width: 100%;
  height: 250px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.product-item:hover img {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

#add-to-card {
  width: 100%;
  padding: 8px 12px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

#add-to-card:hover {
  background-color: #218838;
}

#cart {
  position: sticky;
  top: 0;
  height: fit-content;
  width: 30%;
  padding: 100px 20px;
}

@media (max-width: 768px) {
  .contianer {
    flex-direction: column;
  }
  #products-list {
    grid-template-columns: repeat(1, 1fr);
  }
  #products,
  #cart {
    width: 100%;
  }
}
