#cart-root {
  margin-top: 10px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #fff;
}

.product-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.product-item-top {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 15px;
}

.product-img {
  width: 50px;
  height: 50px;
}

.product-title {
  font-size: 16px;
  font-weight: bold;
}

.product-item-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-quantity-controls {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-quantity {
  text-decoration: underline;
}

.product-btn {
  padding: 5px 10px;
  border: none;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}
.product-btn:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.product-btn:disabled:hover {
  background-color: #6c757d;
}

.product-btn:hover {
  background-color: #0056b3;
}

.product-remove-btn {
  background-color: #dc3545;
  padding: 5px 10px;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.product-remove-btn:hover {
  background-color: #a71d2a;
}

.product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.product-price-quantity {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkout {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  text-align: right;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
}

.checkout-total {
  font-size: 16px;
}

.checkout-total-amount {
  font-size: 18px;
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.checkout-btn:hover {
  background-color: #1e7e34;
}
